<p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false" class="modal-style">

    <div class="form-container">
        <div class="form-row">
            <span class="modal-style modal-format label price-label">Name: </span>
            <input type="text" [(ngModel)]="product.name"/>
        </div>
   
        <div class="form-row">
            <span class="modal-style modal-format label price-label">Price: </span>
            <input type="text" [(ngModel)]="product.price"/>
        </div>
    
        <div class="form-row">
            <span class="modal-style modal-format label price-label">Image: </span>
            <input type="text" [(ngModel)]="product.image"/>
        </div>
    </div>
    <p-rating 
        [(ngModel)]="product.rating"
        iconCancelClass="hidden">
    </p-rating>
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="onConfirm()" label="Add"></button>
        <button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Cancel"></button>
    </p-footer>
</p-dialog>
